body{
background:white;
font-family: Georgia;
color: #333;
font-size: 1.1rem;
line-height: 1.3em;
margin: 0;
}

p{
margin-bottom: 1.6em;
line-height: 20px;
}

h1{
font-size: 30px;
text-align: center;
margin-top: 60px;
color: #333;
}

.container{
width: 85%;
max-width: 850px;
margin: 0 auto;
}

.header{
  background: #FF6696;
  color: white;
  padding: 2rem 0;
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
}

.header a{
  color: white;
  text-decoration: none;
}

.logo{
  letter-spacing: 30px;
  font-size: 1.3em;
}

.menu-icon{
  display: none;
}

.logo-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
  }

.navigation ul li{
  display: inline-block;
}

.navigation ul li a{
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.navigation ul li a:hover{
  background: #333;
}

.main{
  padding-top: 12rem;
}

#header2{
  background: white;
    color: #FF6696;
    position: relative;
    left: 0px;
    top: 14px;
    width: 100%;
}

#header2 h1{
  font-size: 24px;
}

#header3{
  background: #00C5CB;
    color: white;
    position: relative;
    left: 0px;
    top: 50px;
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
}

@media only screen and (max-width: 767px) {

.menu-icon{
  display: block;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.navigation{
  width: 100%;
  margin-top: 1rem;
}

.navigation ul{
  display: none;
}

.navigatio ul.show{
  display: block;
}

  .navigation ul li{
    display: block;
  }

  .navigation ul li a{
    display: block;
    padding: 0.5rem 0;
    transition: all 0.4s linear;
    border-radius: 5px;
  }

  .navigation ul li a:hover{
    background: #333;
  }
}

.container2 {
  background-color: pink;
    width: 100%;
    height: 600px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    top: 146px;
}

#Cuadrado1{
  background-color: lightpink;
    width: 410px;
    height: 380px;
    position: relative;
    top: 10px;
    float: left;
    margin-left: 15px;
}

#Cuadrado2{
  background-color: lightpink;
    width: 410px;
    height: 380px;
    position: relative;
    margin-right: 15px;
    float: right;
    top: 10px;
}

#Cuadrado3{
  background-color: lightpink;
    width: 410px;
    height: 380px;
    position: relative;
    float: left;
    top: 10px;
    margin-left: 15px;
}

@media screen and (max-width:1023px){
    body{
      background: white;
    }

    .container2 {
      background-color: white;
    width: 100%;
    height: 527px;
    max-width: 100%;
    margin: 0px auto;
    position: relative;
    top: -132px;
    text-align: center;
    line-height: 168px;
    color: #333;
    font-size: 18px;
    }

    #Cuadrado1{
      background-color: lightpink;
    width: 95%;
    height: 160px;
    position: relative;
    top: 10px;
    float: left;
    margin-left: 9px;
    }

    #Cuadrado2{
      background-color: lightpink;
    width: 95%;
    height: 160px;
    position: relative;
    margin-right: 10px;
    float: right;
    top: 22px;
    }

    #Cuadrado3{
      background-color: lightpink;
    width: 95%;
    height: 160px;
    position: relative;
    float: right;
    top: 34px;
    margin-right: 10px;
    }

    #Cuadrado4{
      background-color: lightpink;
    width: 95%;
    height: 160px;
    position: relative;
    float: right;
    top: 47px;
    margin-right: 10px;
    }
  }

  @media screen and (min-width: 421px) and (max-width:1023px){

    #header3 {
    line-height: 80px;
    font-size: 22px;
}
    .container2 {
      background-color: #ff6696;
      width: 100%;
      height: 752px;
      max-width: 100%;
      margin: 0 auto;
      position: relative;
      top: -63px;
      text-align: center;
      line-height: 9;
      font-size: 20px;
    }

    #Cuadrado1 {
      background-color: lightpink;
      position: relative;
      top: 10px;
      left: 10px;
      height: 23%;
      width: 97%;
      margin: 0 auto;
  }

  #Cuadrado2 {
    background-color: lightpink;
    position: relative;
    top: 20px;
    left: -13px;
    height: 23%;
    width: 97%;
    margin: 0 auto;
  }

  #Cuadrado3 {
    background-color: lightpink;
    position: relative;
    top: 31px;
    left: -14px;
    height: 23%;
    width: 97%;
    margin: 0 auto;
  }

  #Cuadrado4 {
    background-color: lightpink;
    position: relative;
    top: 42px;
    left: -14px;
    height: 24%;
    width: 97%;
    margin: 0 auto;
}
  }


@media screen and (min-width: 1024px){
  #header3 {
  line-height: 80px;
  font-size: 22px;
}
  .container2 {
    background-color: #ff6696;
    width: 100%;
    height: 1129px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    top: -61px;
    text-align: center;
    line-height: 13;
    font-size: 20px;
  }

  #Cuadrado1 {
    background-color: lightpink;
    position: relative;
    top: 20px;
    left: 1%;
    height: 23%;
    width: 98%;
    margin: 0 auto;
}

#Cuadrado2 {
  background-color: lightpink;
    position: relative;
    top: 37px;
    left: -1%;
    height: 23%;
    width: 98%;
    margin: 0 auto;
}

#Cuadrado3 {
  background-color: lightpink;
    position: relative;
    top: 56px;
    left: 1%;
    height: 23%;
    width: 98%;
    margin: 0 auto;
}

#Cuadrado4 {
  background-color: lightpink;
    position: relative;
    top: 852px;
    left: 0%;
    height: 23%;
    width: 98%;
    margin: 0 auto;
}
}


    .footer{
      background: #FF6696;
      margin-top:50px;
    width:100%;
    height:150px;
    }
