body{
background:white;
font-family: Georgia;
color: #333;
font-size: 1.1rem;
line-height: 1.3em;
margin: 0;
}

p{
margin-bottom: 1.6em;
line-height: 20px;
}

h1{
font-size: 30px;
text-align: center;
margin-top: 60px;
color: #333;
}

.container{
width: 85%;
max-width: 850px;
margin: 0 auto;
}

.container2 {
    width: 100%;
    max-width: 100%;
    margin: 170px auto;
    position: fixed;
}

#slider {
    margin: 0 auto;
    width: 85%;
    max-width: 100%;
    text-align: center;
}

#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   padding: 10px;
   border: 3px solid #ccc;
   background: #fff;
   position: relative;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 300px;
}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}
#slides .slide_1 {
   background: pink;
}
#slides .slide_2 {
   background: #003459;
}
#slides .slide_3 {
   background: #007EA7;
}
#slides .slide_4 {
   background: #00A8E8;
}
#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}

.header{
  background: #FF6696;
  color: white;
  padding: 2rem 0;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
}

.header a{
  color: white;
  text-decoration: none;
}

.logo{
  letter-spacing: 30px;
  font-size: 1.3em;
}

.menu-icon{
  display: none;
}

.logo-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
  }

.navigation ul li{
  display: inline-block;
}

.navigation ul li a{
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.navigation ul li a:hover{
  background: #333;
}

.main{
  padding-top: 12rem;
}

#header2{
  background: white;
  color: #FF6696;
  position: fixed;
  left: 0px;
  top: 100px;
  width: 100%;
  height: 200px;
}

#header3{
  background: #00C5CB;
  color: #FF6696;
  position: fixed;
  left: 0px;
  top: 250px;
  width: 100%;
  height: 80px;
}


.footer{
  background: #FF6696;
  padding: 50px;
  text-align: center;
    margin-top: 6rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 767px) {

.menu-icon{
  display: block;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.navigation{
  width: 100%;
  margin-top: 1rem;
}

.navigation ul{
  display: none;
}

.navigatio ul.show{
  display: block;
}

  .navigation ul li{
    display: block;
  }

  .navigation ul li a{
    display: block;
    padding: 0.5rem 0;
    transition: all 0.4s linear;
    border-radius: 5px;
  }

  .navigation ul li a:hover{
    background: #333;
  }
