body {
  background-color: pink;
  margin: 0;
}

div {
  width: 100px;
  height: 100px;
  font-size: 25px;
  color: white;
  text-align: center;
  line-height: 100px;
  float: left;
  margin: 10px;
}

#a {
  background-color: navy;
}

#b {
  background-color: blue;
  position: relative;
  top: 25px;
  left: 50px;
}

#c {
  background-color: #2980B9;
}

#d {
  background-color: #A9CCE3;
}
