body{
margin: 0;
padding: 0;
}

.contenedor{
width: 500px;
height: 500px;
background-color: black;
display: flex;
justify-content: center;
align-items: center;
}

.Corazon{
width: 200px;
height: 200px;
background-color: red;
transform: rotate(45deg);
animation: movimiento 10s;
}

.Corazon:before{
  content: '';
  position: absolute;
  transform: translateY(-100px);
width: 200px;
height: 200px;
background-color: red;
border-radius: 50%;
}

.Corazon:after{
  content: '';
  position: absolute;
  transform: translateX(-100px);
width: 200px;
height: 200px;
background-color: red;
border-radius: 50%;
}

@@keyframes movimiento{
  from{
    background-position: bottom left;
  }to{
    background-position: top right;
  }
