body{
  background-color: pink;
}

h1{
  text-align: center;
  font-size:40px;
  font-family: sans-serif;
  color: white;
}

p{
  text-align: center;
  color: white;
}

div{
  background-color: white;
  margin: 25px;
  width: 200px;
  height: 200px;
  font-size: 50px;
  text-align: center;
  line-height: 200px;
  color: envy;
}

#uno{
border: ridge black;
border-radius: 200px 50px;
}

#dos{
border: ridge black;
border-radius: 50px 200px;
}

#tres{
border: double black 10px;
border-radius: 40px 15px 0px 80px;
}

#cuatro{
  transform: rotate(45deg);
  border: dotted black 5px;;
  border-radius: 40px;
  position: relative;
  top: 30px;
}

#cinco{
  border: groove black 5px;
  border-radius: 40px;
  position: relative;
  top: 60px;
}
